@charset "UTF-8";

#conteudo {

    width: 1000px;
    margin: auto;
}

#frame_spec {

    width: 465px;
    height: 280px;
    border: none;
    overflow: hidden;
}

#frame_spec::-webkit-scrollbar-track {

    background-color: none
}   